
    <section id="counter" class="counter_sec">
        <div class="container">
            <div class="row">
                <h2>Regardless of your business size and competition in your industry, we have the experience and the organization to make your online business effective.</h2>

                <div class="counter_col">
                    <div class="col-sm-2 years">
                        <div class="counter_thumb">
                            <h3 class="counter-value counter_plus" data-count="18">200</h3>
                            <p>Years of Experience</p>
                        </div>
                    </div>
                    <div class="col-sm-2 exerts">
                        <div class="counter_thumb">
                            <h3 class="counter-value counter_plus" data-count="120">3000</h3>
                            <p>Exerts to Help you</p>
                        </div>
                    </div>
                    <div class="col-sm-2 customers">
                        <div class="counter_thumb">
                            <h3 class="counter-value counter_plus" data-count="595">8000</h3>
                            <p>Happy Customers</p>
                        </div>
                    </div>

                    <div class="col-sm-2 websites">
                        <div class="counter_thumb">
                            <h3 class="counter-value counter_plus" data-count="1000">6000</h3>
                            <p>Websites Launched</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

