<section class="ceo-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-5">
                <div class="ceo-says">
                    <span>Still not Convinced?</span>
                    <h4>See what CEO has to say </h4>
                    <p>I am a US-based Senior Web Developer and a former silicon valley developer who has been developing web and mobile sites and applications for over 15 years, across virtually every industry. I freelance full-time and lead a team
                        of creative engineers, artists, designers, and innovative problem solvers. I am always available during normal business hours across all US time zones.

                    </p>
                    <img src="assets/img/sign-AsimZaidi.png" alt="signature" class="ceo-sign" />
                    <img src="assets/img/img-ceo.png" alt="ceo" class="img-ceo img-fluid" />
                </div>
            </div>

            <div class="col-sm-6 col-lg-7">
                <div class="ceo-goals">
                    <p>Whether you are starting a new project from the ground up need development on an existing product, I can work on every aspect of your project (from front-end design to back-end integration), or just certain parts, based on your
                        specific needs.</p>
                    <h5>
                        My main goals when working with you are simple:
                    </h5>

                    <ul>
                        <li>
                            Clear and consistent communication. I make myself available during all US business hours to provide status updates, answer and ask questions, and discuss the project. Openness, trust, and friendliness have been the keys to success in my work.
                        </li>
                        <li>Complete satisfaction with the end result. I treat each project as unique and with its own set of needs. I will work with you along every step of the way to ensure that there are no surprises, and only satisfaction.</li>
                    </ul>

                    <div class="technologies-section">
                        <h5>Technologies</h5>
                        <ul>
                            <li> PHP/OpenSource (Zend, Laravel, CodeIgniter, CakePHP, yii2)</li>
                            <li>Content Management Systems (WordPress, Drupal, Joomla)</li>
                            <li>eCommerce (WooCommerce, opencart, Magento, Shopify)</li>
                            <li>Front-End Development - HTML5/CSS3, Saas</li>
                            <li>JavaScript Frameworks - Angular, React, Vue; Bootstrap; node.js</li>
                            <li>MySQL/MS SQL, Elasticsearch, MongoDB, Redis</li>
                            <li>Data Visualization</li>
                            <li>Native iOS (Swift & Objective C)</li>
                            <li>Android</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
