 
    footer {
        padding-bottom: 40px;
    }
    
    footer ul {
        display: flex;
        justify-content: center;
        margin-top: 46px;
        align-items: center;
        margin: 50px auto 40px;
    }
    
    footer ul li {
        padding: 0 30px;
        color: #333;
        font-family: Montserrat;
        font-size: 16px;
        line-height: 20px;
    }
    .container {
        max-width: 1440px;
        width: 100%;
    }