<section class="schedule-meeting">
    <div class="container">
        <div class="row">
            <div class="meetings">
                <div class="col-md-6">
                    <div class="meeting-section">
                        <h2>Book a meeting right away and get free estimations for your project </h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form_col">
                        <p>Get your <span>free</span> project estimation now. </p>
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter your email">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Get Started Now</button>
                            </div>
                        </form>
                        <div class="info_col">
                            <ul>
                                <li>*Limited time offer - Schedule now</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
