<section class="worflow-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <img src="assets/img/img-workflow.jpg" alt="img" class="img-fluid" /></div>
            </div>
        </div>
    </div>
</section>


<section class="customersays-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <img src="assets/img/img-customer-says.jpg" alt="img" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>
